* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.welcome-section {
	background: url(../img/first-bg.jpg) no-repeat;
	background-size: cover;
}

.logo {
	margin-top: 40px;
}

.header-container {
	width: 930px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.menu {
	display: flex;
}

.header-container a {
	color: #fff;
	margin-right: 43px;
	margin-top: 85px;
	text-transform: uppercase;
	display: flex;
}

.title {
	color: #fff;
	margin-top: 120px;
	text-transform: uppercase;
	text-align: center;
}

.welcome-section-title {
	font-size: 40px;
	font-weight: 400;
}

.welcome-section-title span {
	line-height: 190px;
	font-size: 75px;
}

.button-container {
	padding-bottom: 50px; 
}

.button {
	width: 250px;
	height: 70px;
	line-height: 70px;
	background-color: #fed136;
    color: #484543;
    font-size: 18px;
    font-weight: bold; 
    text-transform: uppercase;
    border-radius: 5px;
    outline: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.button:hover{
	transform: rotate(360deg);
	transition: 0.6s;
	background-color: white;
}

.services-container {
	background-color: #fff;
}

.services-title {
	padding-top: 125px; 
	font-size: 40px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}

.services-note {
	padding-top: 15px;
	font-size: 16px;
    text-align: center;
    color: #777777;
}

.services-items {
	display: flex;
	justify-content: space-around;
	padding-top: 80px;
	margin-right: 200px;
	margin-left: 200px;
	padding-bottom: 80px;
}

.services-items h3 p {
	padding-top: 15px;
}

.services-item {
	width: 270px;
	text-align: center;
}

.portfolio-container {
	background-color: #f7f7f7;
	text-align: center;
}

.portfolio-title {
	color: #000000;
	padding-top: 150px;
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
}

.portfolio-title-note {
	padding-top: 15px;
	color: #777777;
	font-size: 16px;
}

.portfolio-img {
	margin-top: 80px;
	margin-left: 300px;
	margin-right: 300px;
	display: flex;
	justify-content: space-around;
	padding-bottom: 150px;
}

.about-us-title {
	color: #000000;
	font-weight: bold;
	font-size: 40px;
	padding-top: 130px;
	text-transform: uppercase;
	text-align: center;
}

.about-us-title-note {
	padding-top: 15px;
	color: #777777;
	font-size: 16px;
	text-align: center;
}

.about-us-blocks {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
	flex-direction: column;
}

.about-us-block-content-left {
	margin-top: 50px;
	margin-right: 375px;
	justify-content: center;
	display: flex;
}

.about-us-info-content-left {
	display: flex;
	flex-direction: column;
	text-align: right;
	width: 300px;
}

.about-us-info-title-content-left {
	margin-bottom: 10px;
	text-transform: uppercase; 
	font-weight: bold;
}

.about-us-info-title-note-content-left {
	margin-bottom: 10px;
	font-weight: bold; 
}

.about-us-img-content-left {
	margin-left: 100px; 
}

.about-us-block-content-right {
	margin-top: 50px;
	margin-left: 220px;
	display: flex;
	justify-content: center;
}

.about-us-info-content-right {
	display: flex;
	flex-direction: column;
	text-align: right;
	width: 300px;
}

.about-us-info-title-content-right {
	margin-bottom: 10px;
	text-transform: uppercase; 
	font-weight: bold;
}

.about-us-info-title-note-content-right {
	margin-bottom: 10px;
	font-weight: bold; 
}

.about-us-img-content-right {
	margin-left: 100px; 
}

.footer-container {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}